
#offer {
    width: 100%;
    height: 100vh;
    background-color:#405D78;  
}

.offer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.offer-header {
    width: 568px;
    height: 34px;
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    margin-top: 60px;
    color: #FFFFFF;
}

.box-container {
    display: grid;
    grid-template-columns: 29% 29% 29%;
    grid-auto-rows: 40% 40%;
    grid-gap: 5%;
    width: 720px;
    height: 420px;
    padding-top: 15%;
    padding-bottom: 15%;
    margin: auto;
}


.box-container .box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
    font-size: 24px;
    line-height: 28px;
}

.box-container .box-content span {
    font-size: 18px;
}

.box-container > div {
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.box-new:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: -11px;
    left: -11px;
    background: #E07A64;
}

.box-content:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    transition-timing-function: linear;
}