#home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("https://picsum.photos/id/1056/1600/1200");
    background-size: cover;
    background-position: center;
}

.home-shadow {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
}

.home-container {
    position: relative;
    flex-direction: column;
    padding-top:  15%;
    height: 100%;
    justify-content: space-evenly; 
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}

.home-text {
    width: 60%;
    padding: 20px;
}

h1 {
    position: relative;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 70px;
}

h2 {
    position: relative;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 70px;
}

.btn {
    position: relative;
    font-size: 18px;
    line-height: 21px;
    width: 165px;
    height: 42px;
    border: 3px solid #FFFFFF;
    background: none;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    /* margin-bottom: 5%; */
}

.btn a {
    font-size: 18px;
    line-height: 21px;
   
    color: #FFFFFF;
    text-decoration: none;
} 

.btn:hover {
    background: white;
    /* color: black; */
    transition-duration: 1s;
    transition-timing-function: linear;
}

.btn:hover a {
    color: black;
    transition-duration: 1s;
    transition-timing-function: linear;
} 
/* dlaczego samo .btn:hover nie działa na kolor fontu? */
