html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

.container {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
