
#offer {
    width: 100%;
    height: 100vh;
    background-color:#405D78;
}

.offer-container {
    height: 100%;
}

.offer-header {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    padding-top: 60px;
    margin-bottom: 80px;
    color: #FFFFFF;
    margin-bottom: 80px;
}

.box-container {
    display: grid;
    grid-template-columns: 29% 29% 29%;
    grid-template-rows: auto;
    grid-column-gap: 46.8px;
    grid-row-gap: 46.8px;
    width: 720px;
    margin: auto;
  }

  .box-container > div {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .box-container > div:after {
    content: '';
    display: block;
    background: #F1F1F1;
    padding-bottom: 100%;
  }
  
.box-container .box-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
    font-size: 24px;
    line-height: 28px;
}

.box-container .box-content p:last-of-type {
    font-size: 18px;
    text-align: center;
}

.box-new:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: -11px;
    left: -11px;
    background: #E07A64;
}

.box-content:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    transition-timing-function: linear;
} 